
Packages
ProjectSettings
UserSettings
*.csproj
*.sln
.idea
obj/Debug

Bundles/

Assets/Scenes
Assets/ThirdParty
Assets/Res
Assets/StreamingAssets
Assets/Scripts
Assets/Customs
Assets/Resources

Assets/Scenes.meta
Assets/ThirdParty.meta
Assets/Res.meta
Assets/StreamingAssets.meta
Assets/Scripts.meta
Assets/Customs.meta
Assets/Resources.meta