
Packages
ProjectSettings
UserSettings
*.csproj
*.sln
.idea
obj/Debug

unity_game_framework.sln.DotSettings.user

Bundles/

Assets/Scenes
Assets/ThirdParty
Assets/Res
Assets/StreamingAssets
Assets/Scripts
Assets/Customs
Assets/Resources
Assets/Framework/Customs
Assets/Framework/Tools

Assets/Scenes.meta
Assets/ThirdParty.meta
Assets/Res.meta
Assets/StreamingAssets.meta
Assets/Scripts.meta
Assets/Customs.meta
Assets/Resources.meta
Assets/Framework/Customs.meta
Assets/Framework/Tools.meta
mono_crash.mem.53405.1.blob
Library/
Logs/
Temp/
